* {
	padding: 0;
	margin: 0;
}

[v-cloak] {
	display: none;
}

#app {
	position: relative;
}


#del {
	background: linear-gradient(#ff5454, #ff1c1c);
	color: white;
}

#del:active {
	background: linear-gradient(#a53636, #a90505);
}

.spacer {
	flex-grow: 1;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th {
	padding: 10px;
	background: linear-gradient(#fafafa, #e3e3e3);
	border: 1px solid gray;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
}

td {
	padding: 10px;
	border: 1px solid gray;
}

thead {
	box-shadow: 0 3px 5px gray;
}

.tableName, .tablePhone {
	width: 18%;
}

.tableEmail {
	width: 20%;
}

.tableEdit {
	width: 10%;
}

.shading {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: RGBA(255, 255, 255, 0);
}

.form-container {
	box-shadow: 1px 1px 5px black;
	width: 600px;
	position: absolute;
	top: 1px;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: right;
	background-color: white;
	border: 1px solid gray;
}

.form-label {
	font-size: small;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	line-height: 30px;
	margin-right: 5px;
}

.line-container {
	display: flex;
	justify-content: flex-end;
	height: 30px;
	margin: 10px 0;
}

.big-input {
	box-sizing: border-box;
	width: 300px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0 5px;
}

.small-input {
	width: 195px;
	margin-right: 5px;
}

button {
	width: 100px;
	height: 27px;
	border: 1px solid gray;
	border-radius: 5px;
	background: linear-gradient(#ffffff, #d7d7d7);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: small;
}

button:active {
	background: linear-gradient(#dedede, #bababa);
}

.providers-list {
	width: 193px;
	margin-right: 105px;
	margin-left: auto;
	min-height: 30px;
	border: 1px solid gray;
	border-radius: 5px;
}

.inputs-container {
	width: fit-content;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
}

.bar {
	display: flex;
	height: 45px;
	align-items: center;
	padding: 0 7px;
}

.blue {
	background-color: #f0f5f9;
}

.top {
	border-bottom: 1px solid gray;
}

.bottom {
	border-top: 1px solid gray;
}

.title {
	margin-left: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: large;
	font-weight: bold;
	color: #306a86;
}

.bottom-right-buttons {
	display: flex;
	align-items: center;
}

.bottom-right-buttons button {
	margin-left: 5px;
}

.provider-line-container {
	display: flex;
	align-items: center;
	margin: 10px 15px;
}

.provider-line-container input[type="text"] {
	width: 80px;
	margin-left: 10px;
	padding-left: 4px;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}

.provider-line-container label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	text-align: left;
	width: 80px;
	margin-left: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

input[type="checkbox"] {
	height: 17px;
	width: 17px;
}

i {
	margin: 0 5px;
}

.processing-state {
	cursor: wait;
	font-size: x-large;
	color: #a90505;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: RGBA(255, 255, 255, 0);
	height: 100%;
	width: 100%;
}
